{% extends "standard.html" %}

{% macro coolness() %}

	<p>the most exciting part of tpassing is the coolness algorithm, also known
	as "give feedback, get feedback." the coolness algorithm sorts posts by the
	amount of <a href="/about/feedback">constructive feedback</a> the poster
	has <i>given</i> (minus how much they've received). this means that if you
	want to recieve feedback, you have to leave feedback on others. this solves
	two very important issues at once.</p>

	<p>
		first, on /r/transpassing, you'll see tons of posts with very little
		feedback. why? there's two reasons. one is that there are tons of people
		who just post for validation and never leave constructive feedback on
		others' posts. coolness requires that you post constructive feedback if
		you wish to recieve your own, resulting in a constructive and involved
		community. the other is that those posts never saw the light of day.
	</p>

	<p>
		posts on /r/transpassing are upvoted when they pass. then reddit sorts
		them by who passes to who doesn't pass. this has huge implications. for
		one thing, the top posts are all filled with "you pass!" and "great!"
		and "i love your shirt!" comments, while those that need feedback get
		nothing. additionally, browsers see only those that were voted to pass
		and feel discouraged: why do they look so much worse than <i>everybody
		else</i>? it's because reddit has created a selection
		bias.
	</p>

	<p>the coolness algorithm and its term are taken from <a href="http://ludumdare.com/compo/">ludum
	dare</a> after seeing its great effectiveness</p>

{% endmacro %}

{% block main %}

	<h2>fairness / coolness</h2>

	{{ coolness() }}

{% endblock %}
