{% extends "standard.html" %}

{% block main %}

	<h2>donate to the project</h2>

	<h3>bitcoin</h3>
	<img style="float: left; padding-right: 20px;" src="/static/bitcoin-qr.png" alt="qr code for bitcoin address" />
	<p>address: 1NMp9Vi3R7bvNBkx2CqfukogoBqJBXsMKU</p>
	<p>you can send bitcoins to this address</p>
	<div style="clear: both"></div>

	<h3>patreon</h3>
	<p><a href="https://www.patreon.com/tpassing">patreon: tpassing</a>. i have no
	idea how this works but i figured i should have something besides bitcoin</p>

	<h3>personal</h3>
	<p>if you would like to donate to cyan aurora / cosine, the developer of
	this site, instead,
	you can find <a href="https://cosinegaming.com/donate">ways to do that</a>
	on my other site, Cosine Gaming.</p>

	<h3>time</h3>
	<p>the best option would be to donate your time!  you can
	<a href="https://github.com/cyan-aurora/transpassing/blob/master/CONTRIBUTING.md">contribute</a>
	to the source code or report bugs.

	<h3>spread the word</h3>
	<p>a community requires members to thrive. tell anyone who might be looking for it about tpassing.com</p>

	<h3>usage</h3>
	<p>if you donate to the project, it will only be used to advance the site,
	not go to the developers.</p>
	<p>here have been the expenses so far:</p>
	<ul class="dash">
		<li>domain name: $10</li>
	</ul>
	<p>with more money, i would like to:</p>
	<ul class="dash">
		<li>get a server to run it off that's not an old 2003 pc: $600-$1200</li>
		<li>get internet with faster than 0.5megabit/s upload speed: ~$100/year</li>
	</ul>

	<h3>other remarks</h3>
	<p>please email me with any questions at
	<a href="mailto:cyanauroratp@gmail.com">cyanauroratp@gmail.com</a></p>
	<p>sorry if these donation options don't work for you. for obvious reasons
	I wish to remain relatively anonymous. paypal, for example, requires a full
	name. if you have any suggestions, please email me.</p>

{% endblock %}
