{% extends "standard.html" %}

{% macro feedback() %}

	<p>
		the focus of tpassing is on constructive feedback, not celebration,
		timelines, or validation. there are plenty of reddit subs for that. the
		way I ensure this is the case is with my voting system.
	</p>

	<p>
		no one really knows what upvotes are for on reddit. or at least the
		community can't decide. in the case of /r/transpassing, that's because
		they are secretly two votes confounded with each other. one: is it
		constructive?  two: do i agree with it? this problem is what results in
		the echo chamber effect and the habit of
		<a href="/about/coolness">upvoting passing people</a>.
		the solution? split the two votes up!
	</p>

	<p>
		on tpassing there are two votes for posts and comments. there's the
		quality (posts) and constructive (comments) vote, and the passes
		(posts) and agree (comments) vote. the ability to separate these two
		allows us to be more fair with our voting, and more expressive! quality
		of posts are things like: is it lit well? does it use reasonable
		angles? these affect the sorting of posts. meanwhile, whether it passes
		should affect nothing! only numbers, so the poster can gain an
		understanding.
 	</p>

	<p>
		similarly, comments can be constructive even if we don't agree! if we
		post a constructive but controversial comment, we deserve praise. if we
		post an agreeable comment that's useless like "you don't pass," this
		should not be encouraged. but that doesn't mean we can't show the poster
		how many people agreed.
	</p>

{% endmacro %}

{% block main %}

	<h2>constructive feedback / voting</h2>

	{{ feedback() }}

{% endblock %}
