{% extends "standard.html" %}

{% from "about/security.html" import security with context %}
{% from "about/coolness.html" import coolness with context %}
{% from "about/feedback.html" import feedback with context %}
{% from "about/free.html"     import free     with context %}
{% macro about_permalink(url) %}
	<p><a href="/about/{{ url }}">permalink</a></p>
{% endmacro %}
{% from "register.html" import register_form with context %}

{% block main %}

	<h2>a fair, safe place to see how well you pass</h2>

	<p class="section-title" id="register-section-title">make an account</p>
	<div class="section" id="register-section">
		<div class="big-form">{{ register_form() }}</div>
	</div>

	<p>tpassing is a place for trans people to get constructive feedback on how
	well they pass.</p>

	<p>tpassing is</p>

	<p class="section-title" id="secure-section-title">secure: no record of picture / <a href="/about/links">link</a></p>
	<div class="section" id="secure-section">{{ security() }}{{ about_permalink("security") }}</div>
	<p class="section-title" id="coolness-section-title">give feedback, get feedback; no more no less</p>
	<div class="section" id="coolness-section">{{ coolness() }}{{ about_permalink("coolness") }}</div>
	<p class="section-title" id="feedback-section-title">designed to emphasize constructive feedback, with votes to avoid hugboxing</p>
	<div class="section" id="feedback-section">{{ feedback() }}{{ about_permalink("feedback") }}</div>
	<p class="section-title" id="free-section-title">free software</p>
	<div class="section" id="free-section">{{ free() }}{{ about_permalink("free") }}</div>

	<p>post a picture, video, audio, or other media securely. then other users
	will leave constructive feedback. also receive votes on how well you are
	passing.</p>

	<p>tpassing is a <b>safe space</b>. if you are not trans, you do not belong here.</p>

	<p class="section-title" id="reddit-section-title">comparison with /r/transpassing</p>

	<div class="section" id="reddit-section">

		<p>on <a href="https://reddit.com/r/transpassing">/r/transpassing</a>:</p>

		<ul class="dash">
			<li>pictures stick around for the world to see</li>
			<li>people who pass get upvoted and get more feedback and visibility</li>
			<li>many posts, few comments - little constructive feedback</li>
			<li>sorting algorithm presents flawed view of community</li>
		</ul>

		<p>
			<a href="https://reddit.com/r/transpassing">/r/transpassing</a>
			is a huge service to the community, but it has serious flaws,
			because it is not well-suited to reddit. tpassing is my answer.
		</p>

	</div>

	<p>
		tpassing is very much in alpha. if you agree that it needs to be
		made, please help by
		<a href="https://github.com/cyan-aurora/transpassing/blob/master/CONTRIBUTING.md">contributing</a>,
		<a href="https://github.com/cyan-aurora/transpassing/issues">reporting bugs</a>,
		or <a href="/about/donate">donating</a> to the project.
		<a href="/about/contributors">list of contributors</a>.
	</p>

	<p><a href="/register">make an account</a> to view posts.</p>

	<p>
		if you have any questions, do not hesitate to email me at
		<a href="mailto:cyanauroratp@gmail.com">cyanauroratp@gmail.com</a>
	</p>

{% endblock %}
