{% extends "standard.html" %}

{% block title %}see how well you pass{% endblock %}

{% block main %}

	<h2>a fair, safe place to see how well you pass</h2>

	<p><a href="/register">make an account</a> to view posts</p>

	<p>features</p>

	<ul class="dash">
		<li><a href="/about/security">secure</a>: no record of picture / <a href="/about/links">link</a></li>
		<li><a href="/about/coolness">give feedback, get feedback</a>; no more no less</li>
		<li><a href="/about/coolness">accurate sampling of peers</a></li>
		<li><a href="/about/feedback">designed to emphasize constructive feedback</a></li>
		<li><a href="https://www.gnu.org/philosophy/free-sw.en.html">free software</a> (<a href="https://github.com/cyan-aurora/transpassing">source</a>)</li>
	</ul>

	<p>problems with <a href="https://reddit.com/r/transpassing">/r/transpassing</a></p>

	<ul class="dash">
		<li>pictures stick around for the world to see</li>
		<li>people who pass get upvoted and get more feedback and visibility</li>
		<li>many posts, few comments - little constructive feedback</li>
		<li>sorting algorithm presents flawed view of community</li>
	</ul>

	<p>
		<a href="https://reddit.com/r/transpassing">/r/transpassing</a>
		is a huge service to the community, but it has serious flaws,
		because it is not well-suited to reddit. this is my answer.
	</p>

	<p><a href="/register">make an account</a></p>

	<p>
		this site is very much in alpha. if you agree that it needs to be
		made, please help by
		<a href="https://github.com/cyan-aurora/transpassing/blob/master/CONTRIBUTING.md">contributing</a>,
		<a href="https://github.com/cyan-aurora/transpassing/issues">reporting bugs</a>,
		or <a href="/about/donate">donating</a> to the project
	</p>

	<p>
		if you have any questions, do not hesitate to email me at
		<a href="cyanauroratp@gmail.com">cyanauroratp@gmail.com</a>
	</p>

{% endblock %}
