* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	color: #110310;
	background-color: #f4f9fe;
}

h1 {
	margin: 20px 0;
}

h2 {
	margin: 20px 0;
	font-size: 30px;
}

h3 {
	margin: 20px 0;
	font-size: 25px;
}

p {
	margin: 16px 0;
}

a {
	color: #2471a8;
}

.exit-floater {
	position: fixed;
	top: 80px;
	right: 20px;
	padding: 20px;
	background-color: #110310;
	opacity: 0.3;
	transition: opacity 0.1s;
}

@media screen and (max-width: 1000px) {
	.exit-floater {
		display: none;
	}
}

.exit-floater:hover {
	opacity: 0.8;
}

.wrap {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.top-bar {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #74b1dc;
}

.top-bar:after {
	content: "";
	display: block;
	clear: both;
}

.top-bar h1 {
	margin: 0;
	font-size: 30px;
}

h1 a {
	text-decoration: none;
}

.centered-bar {
	width: 800px;
	margin: 0 auto;
}

.user-entered {
	background-color: #e6f2ff;
	padding: 10px;
}
.original-poster {
	color: #2471a8;
}

table {
	width: 100%;
	border-spacing: 0;
}
tr {
	cursor: pointer;
}
td {
	padding: 10px;
	text-align: center;
}
tr:nth-child(odd) {
	background-color: #74b1dc;
}
tr:nth-child(even) {
	background-color: #72c0f7;
}
tr:first-child {
	background-color: #1b97f0;
	cursor: initial;
}
tr:hover {
	background-color: #1b97f0;
}
table a:visited {
	color: #a222a5;
}

.logout {
	font-size: 20px;
}

ul.dash {
	list-style: none;
	margin-left: 20px;
	padding-left: 20px;
}

ul.dash > li:before {
	display: inline-block;
	content: "- ";
	width: 20px;
	margin-left: -20px;
}

.flashes li {
	list-style: none;
	text-align: center;
	color: #a222a5;
}

input {
	padding: 4px;
}

textarea {
	padding: 8px;
}

.login form {
	display: inline;
}
.login, .logout {
	float: right;
}
.login input {
	width: 200px;
}
.login input[type="submit"] {
	width: auto;
}

.big-form {
	display: block;
	max-width: 400px;
	margin: 0 auto;
	float: none;
	text-align: center;
}
.big-form input, textarea {
	margin-bottom: 20px;
	width: 375px;
}
.big-form input[type="submit"] {
	width: 400px;
}

.full-form {
	width: 100%;
}
.full-form input, textarea {
	display: block;
	margin: 20px 0;
	width: 100%;
}
.full-form textarea {
	height: 80px;
}
