{% extends "standard.html" %}

{% block title %}a fairer, safer place to see how well you pass{% endblock %}

{% block main %}
	<div class="wrap">
		<h1>a fairer, safer place to see how well you pass</h1>
		<p><a href="https://reddit.com/r/transpassing">/r/transpassing</a> is great
		and all, but it has some flaws, mainly due to the fact that <b>it's really
			not well suited to reddit</b>. The task of seeing how well you pass is a
		difficult, and important to some, and /r/transpassing got the idea right:
		anonymous internet users are probably the most honest. However,
		<b>some people don't want to publish pictures of themselves to a trans
			website for the world to see</b>. Additionally, <b>votes on
			/r/transpassing are based on how well you pass</b>. This is absurd and
		defeats the purpose: viewers just see people who pass, who get lots of
		feedback, and those who don't are left behind. Yes, there is /new. But no
		one uses it (except me), and the first issue stands.</p>

		<p>My answer: tpassing.com. This is a fair and safe place to see how
		well you pass. (Based off the /r/transpassing tagline.) First, how is it
		fair? Feedback is given to those who give feedback, not those who pass.
		Second, how is it safe? Pictures are transient and unassociated with the
		website. The picture itself it is impossible to prevent from being
		screenshotted. But my idea was that if there's no relationship between the
		image and the website, there's no real issue.</p>

		<p>"Ok, enough about trust. Why should I even trust you!?" You ask. Well,
		you see, this website is <a
		   href="https://www.gnu.org/philosophy/free-sw.en.html">free software</a>.
	   You can view <a href="https://github.com/cyan-aurora/transpassing">the
		   source</a> on GitHub. You may not have the expertise to view the source,
	   but those who do have looked at it and can tell it's as secure as I say it
	   is. (If you can read it, I'd love to have help! See contributing.) I
	   (cyan-aurora) am trans myself and made this site because I wanted it and
	   didn't want to post to /r/transpassing.</p>

		<p>"Ok, then, <i>how</i> is it secure?" You now ask, admittedly interested.
		Well the answer is, <i>because it doesn't exist</i>! haha. <code>TODO: Make
			exist.</code></p>
	</div>
{% endblock %}
