{% extends "standard.html" %}

{% block main %}
	<div class="wrap">
		<a href="/submit">request feedback</a>
		<p><a href="/about">about tpassing</a></p>
		{% if not showing_viewed %}
			<p><a href="/browse?show-viewed=true">show already-viewed posts</a></p>
		{% else %}
			<p>viewing already-viewed posts. <a href="/browse">show unviewed posts</a></p>
		{% endif %}
		<table>
			<tr>
				<td>link</td>
				<td>target gender</td>
				<td>date submitted</td>
			</tr>
		{% for post in posts %}
			<tr onclick="window.document.location='/post/{{ post.post_id }}';">
				<td>
					<a href="/post/{{ post.post_id }}">view</a>
				</td>
				<td>{{ post.gender }}</td>
				<td>{{ post.created }}</td>
			</tr>
		{% endfor %}
		</table>
		{% if not showing_viewed and is_more %}<p>view posts to see more (viewed posts are hidden)</p>{% endif %}
	</div>
{% endblock %}
