<html>
<body>
	<p>Sorry, the username or password was incorrect. There is no way to restore
	your account. Nothing much has been lost though. Make another one.
	Sorry!</p>

	<p>If you believe this is in error, or REALLY need to reset your password,
	please contact me at
	<a href="mailto:cyanauroratp@gmail.com">cyanauroratp@gmail.com</a>.</p>

	<form method="post" action="/login">
		<input type="text" name="username" />
		<input type="password" name="password" />
		<input type="submit" value="Submit" />
	</form>
</body>
</html>
