{% extends "standard.html" %}

{% block head %}
	{{ super() }}
	<script>

		// TODO: Make this not horribly ugly code

		function checkVotes() {

			response = JSON.parse(this.responseText);
			votes = response.votes;
			for (var i=0; i<votes.length; i++) {
				var vote = votes[i];
				voteStatus(vote["id"], vote["value"], vote["type"]);
			}

		}

		function loadVotes() {

			var request = new XMLHttpRequest();
			request.addEventListener("load", checkVotes);
			request.open("GET", "/post/{{ post.post_id }}/votes");
			request.send();

		}

		function displayVote() {
			var r = JSON.parse(this.responseText);

			voteStatus(r.id, r.value, r.type);

			// Change the displayed count
			var wasUndo = r.performed == "undo";
			var groupSelector = "."+r.id+"."+r.type+".count";
			var count = $(groupSelector+"."+(wasUndo ? r.previous : r.value));
			// If we voted or switched, the clicked count increases
			var increment = wasUndo ? -1 : 1;
			count.html(parseInt(count.html()) + increment);
			if (r.performed == "switch") {
				// Decrease the count for the other side
				var other = $(groupSelector+"."+r.previous);
				console.log(parseInt(other.html()) - 1);
				other.html(parseInt(other.html()) - 1);
			}
		}

		function vote(id, type, value, undo) {

			var voteRequest = new XMLHttpRequest();
			voteRequest.open("GET", "/vote?type=" + type + "&id=" + id.toString() + "&value=" + value);
			voteRequest.addEventListener("load", displayVote)
			voteRequest.send();

		}

		function voteStatus(id, value, type) {

			id = id.toString()

			var votedColor = "#a222a5";
			var unvotedColor = "#2471a8";

			// Make all grouped links unclicked...
			$("." + id + "." + type +               ".link").css({color: unvotedColor});
			// ... and make clicked one appear clicked (TODO: Pick color)
			if (value) {
				$("." + id + "." + type + "." + value + ".link").css({color:   votedColor});
			}

		}

		$(loadVotes);

	</script>
{% endblock %}

{% block main %}
<div class="wrap">
	<a href="/post/{{ post.post_id }}/link">link</a>
	<p>user: {{ post.user.username }}</p>
	<p>target gender: {{ post.gender }}</p>
	<div class="user-entered">{{ post.description|e|markdown }}</div>
	{% if current_user.user_id == post.user_id %}
		<p><a href="/post/{{ post.post_id }}/delete">delete</a></p>
	{% endif %}
	<div style="margin-top: 20px;">
		<a class="{{ post.post_id }} post-passes up link" href="javascript:void(0);" onclick="vote({{ post.post_id }}, 'post-passes', 'up')">Passes</a>
		- <span class="{{ post.post_id }} post-passes up count">{{ votes(post.post_id, "post-passes", "up") }}</span> |
		<a class="{{ post.post_id }} post-passes down link" href="javascript:void(0);" onclick="vote({{ post.post_id }}, 'post-passes', 'down')">Not yet</a>
		- <span class="{{ post.post_id }} post-passes down count">{{ votes(post.post_id, "post-passes", "down") }}</span> |
		<a class="{{ post.post_id }} post-passes maybe link" href="javascript:void(0);" onclick="vote({{ post.post_id }}, 'post-passes', 'maybe')">Other / Not Sure</a>
		- <span class="{{ post.post_id }} post-passes maybe count">{{ votes(post.post_id, "post-passes", "maybe") }}</span>
	</div>
	<h2>comments</h2>
	<form class="full-form" action="/post/{{ post.post_id }}/comment" method="post">
		<p style="text-align: right;">comments accept <a href="https://en.support.wordpress.com/markdown-quick-reference/">markdown</a></p>
		<textarea name="comment" placeholder="leave a comment"></textarea>
		<input type="submit" value="comment" />
	</form>
	{% for comment in comments %}
		<div style="margin: 20px 0;">
			<span{% if comment.user_id == post.user_id %} class="original-poster"{% endif %}>
				{{ comment.user.username }}
			</span>
			<div class="user-entered">{{ comment.text|e|markdown }}</div>
			<span>
				<a class="{{comment.comment_id}} comment-quality up link" href="javascript:void(0);" onclick="vote({{comment.comment_id}}, 'comment-quality', 'up');">constructive</a>
				- <span class="{{comment.comment_id}} comment-quality up count">{{ votes(comment.comment_id, "comment-quality", "up") }}</span>
				| <a class="{{comment.comment_id}} comment-quality down link" href="javascript:void(0);" onclick="vote({{comment.comment_id}}, 'comment-quality', 'down');">unconstructive</a>
				- <span class="{{comment.comment_id}} comment-quality down count">{{ votes(comment.comment_id, "comment-quality", "down") }}</span>
			</span>
			<span style="float: right">
				<a class="{{comment.comment_id}} comment-agree up link" href="javascript:void(0);" onclick="vote({{comment.comment_id}}, 'comment-agree', 'up');">agree</a>
				- <span class="{{comment.comment_id}} comment-agree up count">{{ votes(comment.comment_id, "comment-agree", "up") }}</span>
				| <a class="{{comment.comment_id}} comment-agree down link" href="javascript:void(0);" onclick="vote({{comment.comment_id}}, 'comment-agree', 'down');">disagree</a>
				- <span class="{{comment.comment_id}} comment-agree down count">{{ votes(comment.comment_id, "comment-agree", "down") }}</span>
			</span>
		</div>
	{% endfor %}
</div>
{% endblock %}
