{% extends "standard.html" %}

{% block head %}
	{{ super() }}
	<script>

		// TODO: Make this not horribly ugly code

		voted = {};

		function checkVotes() {

			response = JSON.parse(this.responseText);
			votes = response.votes;
			for (var i=0; i<votes.length; i++) {
				var vote = votes[i];
				voteStatus(vote["comment_id"].toString(), vote["type"] == "up", false);
				// Display somehow
			}

		}

		function loadVotes() {

			var request = new XMLHttpRequest();
			request.addEventListener("load", checkVotes);
			request.open("GET", "/post/{{ post.post_id }}/comments/votes");
			request.send();

		}

		function vote(id, up, undo) {

			// Make a request to the website that indicates a vote
			var upDown = up ? "up" : "down";
			var notUpDown = up ? "down" : "up";

			var voteRequest = new XMLHttpRequest();
			var undoString = undo ? "true" : "false"; // Default, but explicit is nice
			voteRequest.open("GET", "/comment/" + id.toString() + "/vote?vote=" + upDown);
			voteRequest.send();

			// For manipulating the counts and links
			var fullId = id.toString() + "-" + upDown;
			var otherFullId = id.toString() + "-" + notUpDown;
			var count = document.getElementById(fullId);
			var otherCount = document.getElementById(otherFullId);

			voteStatus(id, up, undo);

			// Change the displayed count
			count.innerHTML = parseInt(count.innerHTML) + (undo ? -1 : 1);

			// If the other one has been voted, cancel it
			if (voted[otherFullId]) {
				// Display the right color
				voteStatus(id, !up, true);
				// Decrease the count for the other side
				otherCount.innerHTML = parseInt(otherCount.innerHTML) - 1;
			}

		}

		function voteStatus(id, up, undo) {

			var votedColor = "#a222a5";
			var unvotedColor = "#2471a8";

			var upDown = up ? "up" : "down";

			// For manipulating the counts and links
			var fullId = id.toString() + "-" + upDown;
			var link = document.getElementById(fullId + "-link");

			// Remember the vote for use when undoing
			voted[fullId] = !undo;
			// Color the link according to vote
			if (undo) {
				link.style.color = unvotedColor;
			}
			else {
				link.style.color = votedColor; // TODO: Pick a color
			}
			// Make clicking the vote undo what we just did, whether that's re-voting or undoing
			link.onclick = function() { vote(id, up, !undo); };

		}

		window.addEventListener("load", loadVotes);

	</script>
{% endblock %}

{% block main %}
<div class="wrap">
	<a href="/post/{{ post.post_id }}/link">link</a>
	<p>user: {{ post.user }}</p>
	<p>target gender: {{ post.gender }}</p>
	<div class="user-entered">{{ post.description|e|markdown }}</div>
	{% if current_user.username == post.user %}
		<p><a href="/post/{{ post.post_id }}/delete">delete</a></p>
	{% endif %}
	<h2>comments</h2>
	<form class="full-form" action="/post/{{ post.post_id }}/comment" method="post">
		<p style="text-align: right;">comments accept <a href="https://en.support.wordpress.com/markdown-quick-reference/">markdown</a></p>
		<textarea name="comment" placeholder="leave a comment"></textarea>
		<input type="submit" value="comment" />
	</form>
	{% for comment in comments %}
		<div style="margin: 20px 0;">
			<span{% if comment.user == post.user %} class="original-poster"{% endif %}>
				{{ comment.user }}
			</span>
			<div class="user-entered">{{ comment.text|e|markdown }}</div>
			<span><span id="{{comment.comment_id}}-up">{{ count_comment_votes(comment, "up") }}</span> agree
				(<a id="{{comment.comment_id}}-up-link" href="javascript:void(0);" onclick="vote({{comment.comment_id}}, true);">+1</a>)
				| <span id="{{comment.comment_id}}-down">{{ count_comment_votes(comment, "down") }}</span> disagree
				(<a id="{{comment.comment_id}}-down-link" href="javascript:void(0);" onclick="vote({{comment.comment_id}}, false);">-1</a>)
			</span>
		</div>
	{% endfor %}
</div>
{% endblock %}
