{% extends "standard.html" %}

{% macro render_field(field) %}
	{{ field(**kwargs)|safe }}
	{% if field.errors %}
		<ul>
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<br />
{% endmacro %}

{% block main %}
	<div class="big-form">
		<form action="/register" method="post">
			{{ render_field(form.username) }}
			{{ render_field(form.password) }}
			{{ render_field(form.confirm)  }}
			<input type="submit" value="make account" />
		</form>
	</div>

	<p>your username, password, and posts will be stored securely on my server,
	and will be deleted at their scheduled time or at any request</p>
	<p>if you have any questions, please email me at
		<a href="mailto:cyanauroratp@gmail.com">cyanauroratp@gmail.com</a></p>
{% endblock %}
