{% macro render_field(field, label_after) %}
	{% if not label_after %}
		{{ field.label }}
	{% endif %}
	{{ field(**kwargs)|safe }}
	{% if label_after %}
		{{ field.label }}
	{% endif %}
	{% if field.errors %}
		<ul class="flashes">
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro login_form_macro(dont_specify_action) %}
<form method="post"{% if not dont_specify_action %} action="/login"{% endif %}>
		{{ render_field(login_form.username) }}
		{{ render_field(login_form.password) }}
		<input type="submit" value="sign in" />
	</form>
{% endmacro %}

<!doctype HTML>
<html>
<head>
{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/main.css" />
	<title>{% block title %}tpassing{% endblock %}</title>
	<script
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
		crossorigin="anonymous"></script>
{% endblock %}
</head>
<body>
	<div class="top-bar">
		{% block top_bar %}
			{% if current_user.is_authenticated %}
				<div class="logout">
					<span>{{ current_user.username }} | </span><a href="/logout">log out</a>
				</div>
			{% else %}
				<div class="login">
					{{ login_form_macro() }}
					<span style="font-size: 20px">| <a href="/register">make account</a></span>
				</div>
			{% endif %}
			<div class="centered-bar">
				<h1><a href="/">tpassing</a></h1>
			</div>
		{% endblock %}
	</div>
	<a href="https://www.google.com/" class="exit-floater">exit page quickly</a>
	<div class="wrap">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
					{% for message in messages %}
						<li>{{ message|safe }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block main %}{% endblock %}
	</div>
</body>
</html>
