{% macro render_field(field, label_after) %}
	{% if not label_after %}
		{{ field.label }}
	{% endif %}
	{{ field(**kwargs)|safe }}
	{% if label_after %}
		{{ field.label }}
	{% endif %}
	{% if field.errors %}
		<ul class="flashes">
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro login_form_macro(dont_specify_action) %}
<form method="post"{% if not dont_specify_action %} action="/login"{% endif %}>
		{{ render_field(login_form.username) }}
		{{ render_field(login_form.password) }}
		<input type="submit" value="sign in" />
		{{ render_field(login_form.remember, True) }}
	</form>
{% endmacro %}

<!doctype HTML>
<html>
<head>
{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/main.css" />
	<title>{% block title %}tpassing{% endblock %}</title>
	<meta name="description" content="tpassing is a place for trans people to
	get constructive feedback on how well they pass." />
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	{{ moment.include_moment() }}
	<style>{% block style %}{% endblock %}</style>
	<script>
		// "Sections" with expand buttons
		function collapseExpand(id) {
			$("#"+id).slideToggle();
			$("#"+id+"-title").toggleClass("collapsed-title");
		}
		$(function() {
			$(".section-title").each(function() {

				var id = $(this).attr("id").replace("-title", "");

				$(this).addClass("collapsed-title");
				$("#"+id).addClass("collapsed");
				$(this).attr("title", "click to read more");

				$(this).click(function() {
					collapseExpand(id);
				});

			});
		});
	</script>
{% endblock %}
</head>
<body>
	<div class="top-bar">
		{% block top_bar %}
			{% if current_user.is_authenticated %}
				<div class="logout">
					<span><a href="/me">{{ current_user.username }}</a> | </span><a href="/logout">log out</a>
				</div>
			{% else %}
				<div class="login">
					{{ login_form_macro() }}
					<span style="font-size: 20px">| <a href="/register">make account</a></span>
				</div>
			{% endif %}
			<div class="centered-bar">
				<h1><a href="/">tpassing</a></h1>
			</div>
		{% endblock %}
	</div>
	<a href="https://www.google.com/" class="exit-floater">exit page quickly</a>
	<div class="wrap">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
					{% for message in messages %}
						<li>{{ message|safe }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block main %}{% endblock %}
	</div>
</body>
</html>
