{% extends "standard.html" %}
{% block main %}
	<div class="wrap">
		<h1>why I ask you to submit links / don't host images</h1>

		<p>The idea behind the security of this website (TODO) is that rather than
		protecting the images themselves (nearly impossible) we just protect their
		association with gender / you / the internet. If you upload to imgur
		it'll only be accessible from here.</p>

		<p>If everyone uploads to imgur, say, then they're all just another
		image on imgur. There's no relation to this website, and once this
		website deletes the link there will be no way to get there. If a
		malicious person made it through the Trust filter and stole the image -
		it wouldn't mean anything. It would just be an imgur image.</p>

		<p>Unfortunately, it's impossible to avoid people stealing images.
		Snapchat ran into this same problem. Even if we could track when a
		screenshot is taken, people can take pictures of the screen. So why try?
		We have an arguably better way of keeping it safe.</p>

		<p><i>(also, I'm running this entire website on a server from 2003. i don't
			have space for all those images.)</i></p>
	</div>
{% endblock %}
